model ICollection<OrderHistory>
    @inject ApplicationDbContext _context
    @inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager
    @inject ApplicationDbContext _db
    @inject IDDLHelper _ddlHelper

    @inject IDDLHelper _ddlhelper
    @{
        ViewData["Title"] = "AdminOrderShow";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";


        var user = await _userManager.GetUserAsync(User);
        var ItemForBreakFast = _db.ExtraItem.Where(x => x.MenuDate.ToShortDateString() == DateTime.Today.ToShortDateString() && x.MealTypeId == 1).ToList();
        var ItemForLunch = _db.ExtraItem.Where(x => x.MenuDate.ToShortDateString() == DateTime.Today.ToShortDateString() && x.MealTypeId == 2).ToList();
        var ItemForTeaBreak = _db.ExtraItem.Where(x => x.MenuDate.ToShortDateString() == DateTime.Today.ToShortDateString() && x.MealTypeId == 3).ToList();
        var allItemForTheDay = _db.ExtraItem.Where(x => x.MenuDate.ToShortDateString() == DateTime.Today.ToShortDateString()).Select(x => x.StoreOutItemId).Distinct().ToList();
        var PreOrderSetMenuDetailListBreakfast = _db.PreOrderSchedule.Include(x => x.SetMenu).Where(x => x.LastModifiedDate.ToShortDateString() == DateTime.Today.AddDays(-1).ToShortDateString() && x.MealTypeId == 1).FirstOrDefault();
        var PreOrderSetMenuDetailListLunch = _db.PreOrderSchedule.Include(x => x.SetMenu).Where(x => x.LastModifiedDate.ToShortDateString() == DateTime.Today.AddDays(-1).ToShortDateString() && x.MealTypeId == 2).FirstOrDefault();

        //var PreOrderSetMenuDetailListTeabreak = _db.PreOrderSchedule.Include(x => x.SetMenu).Where(x => x.LastModifiedDate.ToShortDateString() == DateTime.Today.AddDays(-1).ToShortDateString() && x.MealTypeId == 3);

        //    var setmenu = _db.SetMenu.Where(x=>x.SetMenuDate.ToShortDateString() == DateTime.Today.ToShortDateString())
        //var BillOfUser = _db.OrderHistory.Where(x => x.UserId == user.Id);

        //DateTime ToDate = DateTime.Now.AddDays(20);
        //DateTime FromDate = DateTime.Now.AddDays(20);
        //Boolean DateCheck = false;
        ////IQueryable<OrderHistory> theInfo = Enumerable.Empty<OrderHistory>().AsQueryable();
        //var theInfo = _db.OrderHistory.Where(x => x.UserId == user.Id && x.OrderDate >= FromDate && x.OrderDate <= ToDate).ToList();

        //List<OrderHistory> theInfo = new List<OrderHistory>();







    }


    <style>
        .list-group {
            max-height: 300px;
            margin-bottom: 10px;
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
        }
    </style>


    <h2>Edit</h2>

    <h4>SetMenu</h4>
    <hr />

    <p style="text-align: right;">
        <a asp-action="Index" class="btn btn-default btn-sm">Back to List</a>
    </p>


    <div class="row">
        <div id="messageUp"></div>
    </div>


    @*<div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="sel1">Date:</label>
                    <input type="date" name="LoadOrderDate" value="@Model.SetMenuDate.ToString("yyyy-MM-dd")" disabled />

                    <input type="hidden" id="setMenuId" value="@Model.Id" />
                </div>
            </div>
        </div>*@





    @*<div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="sel1">Set Menu Price: (Tk.)</label>
                    <input type="text" id="setMenuPrice" class="form-control" value="@Model.SetMenuPrice">
                </div>
            </div>
        </div>*@



    <div class="row">

        <div class="col-md-5">
            <div class="card">
                <div class="card-header bg-default text-white">
                    OnSpotOrder
                </div>
                <div class="card-body">
                    <ul class="list-group" id="BreakfastItemListAdded">
                        <li class="list-group-item" style="padding:0px">

                            <div class="row">
                                <div class="col-sm-4">
                                    Item
                                </div>
                                <div class="col-sm-3">
                                    Meal
                                </div>
                                <div class="col-sm-3">
                                    Quantity
                                </div>
                                <div class="col-sm-2">

                                </div>
                            </div>
                            @foreach (var item in allItemForTheDay)
                            {
                                <div class="row">
                                    <div class="col-sm-4">

                                        @{
                                            var itemname = _db.StoreOutItem.Where(x => x.Id == item).FirstOrDefault();


                                        }
                                        <asp:Label ID="Label1" runat="server" Text="@item">@itemname.Name</asp:Label>



                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <select id="DDLCategory" class="form-control border-radius-none" asp-items="@(new SelectList(_ddlHelper.GetMealType().Prepend(new KeyValuePair<string, string>("-1","Meal")),"Key","Value",""))"></select>

                                        </div>
                                    </div>
                                    <div class="col-sm-3">

                                        <input type="number" name="MCost" id="MCost" class="col-sm-8" />
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" onclick="OnspotOrder()" style="padding: 0px;margin: 0px;">
                                            <span class="badge badge-danger">
                                                <i class="fas fa-plus-square"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>

                            }





                        </li>
                    </ul>

                </div>

            </div>
        </div>


        <div class="col-md-7">

            <div class="card">
                <div class="card-header bg-primary text-white">
                    OrderList
                </div>
                <div class="card-body">
                    <ul class="list-group" id="BreakfastItemListAdded">
                        <li class="list-group-item" style="padding:0px">

                            <div class="row">
                                <div class="col-sm-2">
                                    <span class="label label-default">Date</span>
                                </div>
                                <div class="col-sm-2">
                                    <span class="label label-default">MealType</span>
                                </div>
                                <div class="col-sm-2">
                                    <span class="label label-default">OrderType</span>


                                </div>
                                <div class="col-sm-2">
                                    <span class="label label-default">Item</span>


                                </div>
                                <div class="col-sm-2">
                                    <span class="label label-default">Package</span>


                                </div>
                                <div class="col-sm-2">
                                    <span class="label label-default">Quantity</span>


                                </div>
                            </div>
                            <hr />
                            @{
                                double qn = 0;
                                double qItem = 0;
                                var setMenuDetailBreakfast = _db.SetMenuDetails.Where(x => x.SetMenuId == PreOrderSetMenuDetailListBreakfast.SetMenuId).ToList();
                                var orderHistoryESMBreakfast = _db.OrderHistory.Where(x => x.SetMenuId == PreOrderSetMenuDetailListBreakfast.SetMenuId && x.StoreOutItemId == null).FirstOrDefault();
                                var orderHistoryECIBreakfast = _db.OrderHistory.Where(x => x.SetMenuId == PreOrderSetMenuDetailListBreakfast.SetMenuId && x.StoreOutItemId != null).ToList();
                                if (PreOrderSetMenuDetailListBreakfast.IsPreOrderSet == true)
                                {
                                    qn += 1;
                                }
                                foreach (var item in setMenuDetailBreakfast)
                                {

                                    <div class="row">
                                        <div class="col-sm-2">
                                            @DateTime.Now.ToShortDateString()

                                        </div>
                                        <div class="col-sm-2">
                                            BreakFast
                                        </div>
                                        <div class="col-sm-2">
                                            PreOrder
                                        </div>
                                        <div class="col-sm-2">
                                            @{
                                                var itemname = _db.StoreOutItem.Where(x => x.Id == item.StoreOutItemId).FirstOrDefault();


                                            }
                                            @itemname.Name
                                        </div>
                                        <div class="col-sm-2">
                                            Yes
                                        </div>
                                        <div class="col-sm-2">
                                            @if (@orderHistoryESMBreakfast != null)
                                            {
                                                qItem = @orderHistoryESMBreakfast.UnitOrdered + qn;
                                            }
                                            else
                                            {
                                                qItem = @qn;
                                            }
                                            @qItem
                                        </div>

                                    </div>
                                    <hr />



                                }
                                foreach (var item in orderHistoryECIBreakfast)
                                {
                                    <div class="row">
                                        <div class="col-sm-2">
                                            @DateTime.Now.ToShortDateString()
                                        </div>
                                        <div class="col-sm-2">
                                            BreakFast
                                        </div>
                                        <div class="col-sm-2">
                                            PreOrder
                                        </div>
                                        <div class="col-sm-2">
                                            @{
                                                var itemname = _db.StoreOutItem.Where(x => x.Id == item.StoreOutItemId).FirstOrDefault();


                                            }
                                            @itemname.Name
                                        </div>
                                        <div class="col-sm-2">
                                            No
                                        </div>
                                        <div class="col-sm-2">
                                            @item.UnitOrdered
                                        </div>

                                    </div>
                                    <hr />



                                }

                            }

                            @{
                                double qn2 = 0;
                                double qItem2 = 0;
                                var setMenuDetailLunch = _db.SetMenuDetails.Where(x => x.SetMenuId == PreOrderSetMenuDetailListLunch.SetMenuId).ToList();
                                var orderHistoryESMLunch = _db.OrderHistory.Where(x => x.SetMenuId == PreOrderSetMenuDetailListLunch.SetMenuId && x.StoreOutItemId == null).FirstOrDefault();
                                var orderHistoryECILunch = _db.OrderHistory.Where(x => x.SetMenuId == PreOrderSetMenuDetailListLunch.SetMenuId && x.StoreOutItemId != null).ToList();
                                if (PreOrderSetMenuDetailListLunch.IsPreOrderSet == true)
                                {
                                    qn2 += 1;
                                }
                                foreach (var item in setMenuDetailLunch)
                                {

                                    <div class="row">
                                        <div class="col-sm-2">
                                            @DateTime.Now.ToShortDateString()
                                        </div>
                                        <div class="col-sm-2">
                                            Lunch
                                        </div>
                                        <div class="col-sm-2">
                                            PreOrder
                                        </div>
                                        <div class="col-sm-2">
                                            @{
                                                var itemname = _db.StoreOutItem.Where(x => x.Id == item.StoreOutItemId).FirstOrDefault();


                                            }
                                            @itemname.Name
                                        </div>
                                        <div class="col-sm-2">
                                            Yes
                                        </div>
                                        <div class="col-sm-2">
                                            @if (orderHistoryESMLunch != null)
                                            {
                                                qItem2 = @orderHistoryESMLunch.UnitOrdered + qn2;
                                            }
                                            else
                                            {
                                                qItem2 = @qn2;
                                            }
                                            @qItem2
                                        </div>

                                    </div>
                                    <hr />



                                }
                                foreach (var item in orderHistoryECILunch)
                                {
                                    <div class="row">
                                        <div class="col-sm-2">
                                            @DateTime.Now.ToShortDateString()
                                        </div>
                                        <div class="col-sm-2">
                                            Lunch
                                        </div>
                                        <div class="col-sm-2">
                                            PreOrder
                                        </div>
                                        <div class="col-sm-2">
                                            @{
                                                var itemname = _db.StoreOutItem.Where(x => x.Id == item.StoreOutItemId).FirstOrDefault();


                                            }
                                            @itemname.Name
                                        </div>
                                        <div class="col-sm-2">
                                            No
                                        </div>
                                        <div class="col-sm-2">
                                            @item.UnitOrdered
                                        </div>

                                    </div>
                                    <hr />



                                }

                            }

                        <li />
                    </ul>



                </div>
            </div>
        </div>




        @*<div class="col-md-6">

                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Breakfast
                    </div>
                    <div class="card-body">
                        <ul class="list-group" id="BreakfastItemListAdded">
                            <li class="list-group-item" style="padding:0px">

                                <div class="row">
                                    <div class="col-sm-2">
                                        <span class="label label-default">Name</span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span class="label label-default">Item</span>


                                    </div>
                                    <div class="col-sm-2">
                                        <span class="label label-default">Qty</span>


                                    </div>
                                    <div class="col-sm-3">
                                        <span class="label label-default">Type</span>


                                    </div>
                                    <div class="col-sm-2">
                                        <span class="label label-default">Mark</span>


                                    </div>
                                </div>




                                @foreach (var item in ItemForBreakFast)
                                {

                                    var q = 0;
                                    foreach (var a in PreOrderSetMenuDetailListBreakfast)
                                    {
                                        var setmnudtl = _db.SetMenuDetails.Where(x => x.StoreOutItemId == item.StoreOutItemId && x.SetMenuId == a.SetMenuId).FirstOrDefault();
                                        if (setmnudtl != null)
                                        {
                                            q += 1;
                                        }
                                    }


                                        var orderHistoryForExtraSM = _db.OrderHistory.Where(x => x.ApplicationUser.Id == "95365f6d-0665-4630-a3ef-2b62642c8f40" && x.MealTypeId == 1 && x.StoreOutItemId == null).ToList();

                                        foreach (var b in orderHistoryForExtraSM)
                                        {
                                            var setmnudt2 = _db.SetMenuDetails.Where(x => x.StoreOutItemId == item.StoreOutItemId && x.SetMenuId == b.SetMenuId).FirstOrDefault();
                                            if (setmnudt2 != null)
                                            {
                                                q += 1;
                                            }

                                        }

                                        if (q > 0)
                                        {
                                        <div class="row">
                                            <div class="col-sm-4">
                                                @item.StoreOutItem.Name

                                            </div>
                                            <div class="col-sm-2">
                                                q

                                            </div>
                                            <div class="col-sm-3">
                                                SetMenu

                                            </div>
                                            <div class="col-sm-2">
                                                Selection

                                            </div>
                                        </div>
                                        }

                                    @{
                                            var orderHistoryForExtraItem = _db.OrderHistory.Where(x => x.ApplicationUser.Id == "95365f6d-0665-4630-a3ef-2b62642c8f40" && x.MealTypeId == 1 && x.StoreOutItemId != null).ToList();
                                            double q2 = 0;
                                        }
                                        foreach (var c in orderHistoryForExtraItem)
                                        {
                                            if (item.SetMenuId == c.StoreOutItemId)
                                            {
                                                q2 += c.UnitOrdered;
                                            }

                                        }

                                        if (q2 > 0)
                                        {
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    @item.StoreOutItem.Name

                                                </div>
                                                <div class="col-sm-2">
                                                    q2

                                                </div>
                                                <div class="col-sm-3">
                                                    Extra Chit

                                                </div>
                                                <div class="col-sm-2">
                                                    Selection

                                                </div>
                                            </div>
                                        }


                                    }










                            </li>
                        </ul>
                    </div>



                </div>
            </div>




            <div class="col-md-6">

                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Lunch
                    </div>
                    <div class="card-body">

                    </div>
                </div>

            </div>*@

    </div>
    <hr />


    <div class="row">




        <div class="col-md-6">

            <div class="card">
                <div class="card-header bg-primary text-white">
                    Tea Break
                </div>
                <div class="card-body">
                    <div class="row">

                    </div>

                </div>
            </div>

        </div>



        <div class="col-md-6">

            <div class="card">
                <div class="card-header bg-primary text-white">
                    Extra Chit
                </div>
                <div class="card-body">

                </div>
            </div>

        </div>
    </div>





    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <br />
                <div class="col-sm-10 pl-0">
                    <a class="btn btn-info btn-sm" onclick="UpdateSetMenuList()"> Update </a> |
                    <a asp-action="Index" class="btn btn-sm btn-default">Back to List</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="messageDown"></div>
        </div>
    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>






    @section Scripts {


        <script>

        function OnspotOrder() {
            var x = document.getElementById('Label1').innerText;
                var ddlCategory = document.getElementById("DDLCategory");
            var categoryId = ddlCategory.options[ddlCategory.selectedIndex].value.toString();

              $.ajax({

        url: '@Url.Action("Chk", "AdminShowOrder")',
        type: "POST",
        data: { MealTypeId: categoryId,ItemId:x },
        success: function (response) {
            if (response.success) {

               //jQuery("#messageUp").append('<div class="alert alert-success" role="alert"><b>"' + response.responseText + '"</b></div>');

                //window.alert(response.responseText);
                //        //jQuery("#messageUp").append('<div class="alert alert-success" role="alert"><b>"' + response.responseText + '"</b></div>');
                //window.location.reload(true);


            } else {
                // DoSomethingElse()
                alert(response.responseText);
            }
        }


    })


        }

        function UpdateSetMenuList() {

            //=============== Set Menu Id =================
            var setMenuIdTemp = $('#setMenuId').val();
            //alert(setMenuIdTemp);
            //=============== Set Menu Id =================


           //=============== Set Menu Item Id =================
            var setMenuArray = [];
                   var setMenuPrice = document.getElementById("setMenuPrice").value.toString();

            var checkBoxSetMenu = document.getElementsByName("checkMainItem");
            var checkBoxLengthSetMenu = checkBoxSetMenu.length;
            var tempItemValueSetMenu = "";
            for (var i = 0; i < checkBoxLengthSetMenu; i++) {
                if (checkBoxSetMenu[i].checked == true) {

                    tempItemValueSetMenu = checkBoxSetMenu[i].value.toString();
                    var obj = { SetMenuItemId: tempItemValueSetMenu };
                    setMenuArray.push(obj);
                }
            }
            //=============== Set Menu Item Id =================


            //=============== Extra Item Id =================
            var addedItem = [];
            var checkBoxAdded = document.getElementsByName("checkExtraItem");
            var checkBoxLengthAdded = checkBoxAdded.length;
            var textsAdded = document.getElementsByName("extraItemPrice");
            var tempItemValueAdded = "";
            var tempPriceValueAdded = "";
            for (var i = 0; i < checkBoxLengthAdded; i++) {
                if (checkBoxAdded[i].checked == true) {
                    tempPriceValueAdded = textsAdded[i].value.toString();
                    tempItemValueAdded = checkBoxAdded[i].value.toString();
                    var obj = { AddedItemId: tempItemValueAdded, AddedItemPrice: tempPriceValueAdded };
                    addedItem.push(obj);
                }
            }
            //=============== Extra Item Id =================

            var tempExtraItemList = "";
            var tempSetMenuList = "";
            tempExtraItemList = JSON.stringify(addedItem);
            tempSetMenuList = JSON.stringify(setMenuArray);



             $.ajax({

                url: '@Url.Action("UpdateSetMenuAndAddedItemList", "SetMenu")',
                 type: "POST",
                 data: { SetMenuList: tempSetMenuList, ExtraItemList: tempExtraItemList, SetMenuId: setMenuIdTemp, SetMenuPrice: setMenuPrice },
                success: function (response) {
                    if (response.success) {

                        //alert(response.responseText);
                        //window.location.reload(true);




                        jQuery("#messageUp").append('<div class="alert alert-success" role="alert"><b>"' + response.responseText + '"</b></div>');
                        jQuery("#messageDown").append('<div class="alert alert-success" role="alert"><b>"' + response.responseText + '"</b></div>');


                    } else {
                        // DoSomethingElse()
                        //alert(response.responseText);
                        jQuery("#messageUp").append('<div class="alert alert-danger" role="alert"><b>"' + response.responseText + '"</b></div>');
                        jQuery("#messageDown").append('<div class="alert alert-danger" role="alert"><b>"' + response.responseText +'"</b></div>');
                    }
                }


            })




        }







        //<<<<<<<<<<<<<<<<<< CleanPriceFieldOfExtraItem >>>>>>>>>>>>>>>>>>>>>>>
        function CleanPriceFieldOfExtraItem(storeOutItemId) {

            var isChecked = $('#checkadded_' + storeOutItemId).is(":checked");
            if (isChecked == true) {
                //alert('is checked');
            } else {
                //alert('is not checked');
                $('#priceadded_' + storeOutItemId).val('');

            }

        }
        //<<<<<<<<<<<<<<<<<< CleanPriceFieldOfExtraItem >>>>>>>>>>>>>>>>>>>>>>>

        </script>
    }




