@inject ApplicationDbContext _context
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager
@inject IDDLHelper _ddlHelper

@{
    ViewData["Title"] = "StoreOutReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";


    var storeOutObj = _context.StoreOutItem.Where(x => x.Name == "Waste Material").FirstOrDefault();
    var wareHouseList = _context.WarehouseStorage.Where(x => x.StoreOutItemId == storeOutObj.Id).OrderBy(x => x.Date.Date).ToList();
    //var DistintDate = wareHouseList.Where(x => x.Id > 0).OrderBy(x => x.Date.Date).Select(x => x.Date.Date).Distinct().ToList();

}
<head>
    <link href="~/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    <link href="~/assets/demo/demo.css" rel="stylesheet" />
</head>
<style>

    #ui-datepicker-div {
        display: none;
        background-color: #fff;
        box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
        margin-top: 0.25rem;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .ui-datepicker-calendar thead th {
        padding: 0.25rem 0;
        text-align: center;
        font-size: 0.75rem;
        font-weight: 400;
        color: #78909C;
    }

    .ui-datepicker-calendar tbody td {
        width: 2.5rem;
        text-align: center;
        padding: 0;
    }

        .ui-datepicker-calendar tbody td a {
            display: block;
            border-radius: 0.25rem;
            line-height: 2rem;
            transition: 0.3s all;
            color: #546E7A;
            font-size: 0.875rem;
            text-decoration: none;
        }

            .ui-datepicker-calendar tbody td a:hover {
                background-color: #E0F2F1;
            }

            .ui-datepicker-calendar tbody td a.ui-state-active {
                background-color: #009688;
                color: white;
            }

    .ui-datepicker-header a.ui-corner-all {
        cursor: pointer;
        position: absolute;
        top: 0;
        width: 2rem;
        height: 2rem;
        margin: 0.5rem;
        border-radius: 0.25rem;
        transition: 0.3s all;
    }

        .ui-datepicker-header a.ui-corner-all:hover {
            background-color: #ECEFF1;
        }

    .ui-datepicker-header a.ui-datepicker-prev {
        left: 0;
        background: url("~/assets/img/prev.png");
        background-repeat: no-repeat;
        background-size: 0.5rem;
        background-position: 50%;
        transform: rotate(180deg);
    }

    .ui-datepicker-header a.ui-datepicker-next {
        right: 0;
        background: url("~/assets/img/prev.png");
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: 50%;
    }

    .ui-datepicker-header a > span {
        display: none;
    }

    .ui-datepicker-title {
        text-align: center;
        line-height: 2rem;
        margin-bottom: 0.25rem;
        font-size: 0.875rem;
        font-weight: 500;
        padding-bottom: 0.25rem;
    }

    .ui-datepicker-week-col {
        color: #78909C;
        font-weight: 400;
        font-size: 0.75rem;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        /*z-index: 1;*/ /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-left: 100px;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<h3 style="color:green;font-weight:bold;">Waste Material Store Out Report</h3>
<hr />

<div class="content">
    <div class="container-fluid">

        <div class="row" style="padding-top:80px;">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-10">
                <table class="table table-striped table-bordered table-hover" id="wasteTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Raw Item</th>

                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Action By</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in wareHouseList)
                        {
                            <tr>
                                <td>
                                </td>
                                <td>
                                    @item.Date.ToShortDateString()
                                </td>
                                <td>
                                    @_context.StoreInItem.Where(x => x.Id == item.StoreInItemId).FirstOrDefault().Name
                                </td>
                                <td>
                                    @item.Amount
                                </td>
                                <td>
                                    @_context.UnitType.Where(x => x.Id == item.StoreInItem.UnitTypeId).FirstOrDefault().Name

                                </td>
                                <td>
                                    @_userManager.Users.Where(x => x.Id == item.CreatedBy).FirstOrDefault().BUPFullName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-1">

            </div>
        </div>

    </div>
</div>