@model IEnumerable<Mess_Management_System_Alpha_V2.Models.UCAMModel.UCAMViewModel.UCAMUserViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Update User From UCAM</h2>

<p>
    <a asp-action="MigrateUsersFromUCAM" class="btn btn-danger btn-sm">Migrate Users from UCAM</a>
</p>

<p>
    <label>Total : @ViewBag.TotalUserCount</label>
</p>

@if (ViewBag.SuccessMassage != null)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <strong>Success!</strong> Data Update Successful.
    </div>
}



<table class="table">
    <thead>
        <tr>
            <th>
                #SL
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogInID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>

        </tr>
    </thead>
    <tbody>
        @{int i = 1;}
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(i++)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LogInID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>

                </tr>
            }
        }
    </tbody>
</table>

