@model IEnumerable<Mess_Management_System_Alpha_V2.Models.MessModels.StoreOutItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>StoreOut Items</h2>



<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #SL
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumProductionUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumProductionUnitMultiplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreOutItemCategory)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @{int i = 1;}
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
        <tr>
            <td>
                @(i++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumProductionUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumProductionUnitMultiplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreOutItemCategory.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
            }
        }
    </tbody>
</table>